{% extends "project2/base.html" %}

{% block title %}Login or Register{% endblock %}

{% block content %}

<div class="span8 offset4">
    <h2 class="pull-left">Login</h2>
       <form action="{% url 'login' %}" class="clear-left pull-left" method="post">
           {% csrf_token %}
           <input type="text" class="text" placeholder="Email" name="log_email"/><br>
           <input type="password" class="password" placeholder="Password" name="log_password"/><br>
           <input type="submit" value="Login" class="button"/><br>
       </form><br>
       
<div class="clear-both"></div>       
    {% if e_l %}
         {% for error in e_l %}
            <p class="alert-danger">{{error}}</p>
         {% endfor %}
    {% endif %}
   <h2 class="clear-left">OR</h2>
    {% if msg %}
            <p class="alert-info">{{msg}}</p>
    {% endif %}
    <br>

   <h2 class="pull-left">Register (to save your favorites)</h2>
       <form action="{%url 'register' %}" class="clear-left pull-left" method="post">
           {% csrf_token %}
           <input type="text" class="text" placeholder="Email" name="reg_email"/><br>
           <input type="text" class="text" placeholder="Username" name="reg_username"/><br>
           <input type="password" class="password" placeholder="Password" name="reg_password"/><br>
           <input type="password" class="password" placeholder="Confirm Password" name="conf_reg_password"/><br>
           <input type="text" class="text" placeholder="First Name" name="reg_first_name"/><br>
           <input type="text" class="text" placeholder="Last Name" name="reg_last_name"/><br>
           <input type="submit" value="Register" class="button"/><br>
       </form>
<div class="clear-both"></div>       
    {% if e_r %}
         {% for error in e_r %}
            <p class="alert-danger">{{error}}</p>
         {% endfor %}
    {% endif %}
           <input type="submit" value="Create Account"/><br>
       </form>
       
   <div class="auth_page">
       <h4 class="pull-left clear-left"><a href="/search/">Nevermind...Skip this!</a></h4>
</div>
</div>

{% endblock %} 
